
<h2 mat-dialog-title>{{ lesson.id ? 'Dərsi redaktə et' : 'Yeni dərs əlavə et' }}</h2>

<div mat-dialog-content>

    <div *ngIf="lesson.validationErrors?.['Code']">
      <div *ngFor="let error of lesson.validationErrors?.['Code']" class="field-error">
        {{ error }}
      </div>
    </div>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Dərsin kodu</mat-label>
    <input matInput [(ngModel)]="lesson.code" name="code" />
  </mat-form-field>

  <div *ngIf="lesson.validationErrors?.['Name']">
    <div *ngFor="let error of lesson.validationErrors?.['Name']" class="field-error">
      {{ error }}
    </div>
  </div>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Dərsin adı</mat-label>
    <input matInput [(ngModel)]="lesson.name" name="name" (keypress)="allowLettersOnly($event)"/>
  </mat-form-field>

  <div *ngIf="lesson.validationErrors?.['Grade']">
    <div *ngFor="let error of lesson.validationErrors?.['Grade']" class="field-error">
      {{ error }}
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Sinf</mat-label>
    <input matInput type="number" [(ngModel)]="lesson.grade" min="1" max="11" (keydown)="preventInvalidKeys($event)"
  (wheel)="disableScroll($event)"
  (paste)="preventPasteNegative($event)"/>
  </mat-form-field>
  
  <div *ngIf="lesson.validationErrors?.['TeacherFirstName']">
    <div *ngFor="let error of lesson.validationErrors?.['TeacherFirstName']" class="field-error">
      {{ error }}
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Müəllimin adı</mat-label>
    <input matInput [(ngModel)]="lesson.teacherFirstName" name="teacherFirstName" (keypress)="allowLettersOnly($event)"/>
  </mat-form-field>

  <div *ngIf="lesson.validationErrors?.['TeacherSurname']">
    <div *ngFor="let error of lesson.validationErrors?.['TeacherSurname']" class="field-error" >
      {{ error }}
    </div>
  </div>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Müəllimin soyadı</mat-label>
    <input matInput [(ngModel)]="lesson.teacherSurname" name="teacherSurname" (keypress)="allowLettersOnly($event)"/>
  </mat-form-field>

  <div *ngIf="lesson.validationErrors?.['General']" class="field-error">
    <div *ngFor="let error of lesson.validationErrors['General']">
      {{ error }}
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">İmtina</button>
  <button mat-flat-button color="primary" (click)="save()">Yadda saxla</button>
</div>
