<div class="table-container">
  <div class="toolbar">
  <button class="add-button" (click)="createStudent()">Əlavə et</button>
</div>


<dx-data-grid
  [dataSource]="students"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="false">

  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

  <dxi-column dataField="firstName" caption="Ad"></dxi-column>
  <dxi-column dataField="surname" caption="Soyad"></dxi-column>
  <dxi-column dataField="grade" caption="Sinif"></dxi-column>
  <dxi-column dataField="orderNumber" caption="Nömrə"></dxi-column>
   <dxi-column type="buttons" caption="Əməliyyatlar">
    <dxi-button
      icon="edit"
      hint="Redaktə et"
      [onClick]="handleEditButtonClick">
    </dxi-button>
    <dxi-button
      icon="trash"
      hint="Sil"
      [onClick]="handleDeleteButtonClick">
    </dxi-button>
  </dxi-column>
  
</dx-data-grid>

</div>