<h2 mat-dialog-title>{{ student.id ? 'Şagirdi redaktə et' : 'Yeni şagird əlavə et' }}</h2>

<div mat-dialog-content>

  <div *ngIf="student.validationErrors?.['FirstName']">
    <div *ngFor="let error of student.validationErrors?.['FirstName']" class="field-validation">
      {{error}}
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Adı</mat-label>
    <input matInput [(ngModel)]="student.firstName" (keypress)="allowLettersOnly($event)"/>
  </mat-form-field>

  <div *ngIf="student.validationErrors?.['Surname']">
    <div *ngFor="let error of student.validationErrors?.['Surname']" class="field-validation">
      {{error}}
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Soyadı</mat-label>
    <input matInput [(ngModel)]="student.surname" (keypress)="allowLettersOnly($event)" />
  </mat-form-field>

  <div *ngIf="student.validationErrors?.['Grade']">
    <div *ngFor="let error of student.validationErrors?.['Grade']" class="field-validation">
      {{error}}
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Sinf</mat-label>
    <input matInput type="number" [(ngModel)]="student.grade" min="1" max="11" (keydown)="preventInvalidKeys($event)"
  (wheel)="disableScroll($event)"
  (paste)="preventPasteNegative($event)"/>
  </mat-form-field>

  <div *ngIf="student.validationErrors?.['OrderNumber']">
    <div *ngFor="let error of student.validationErrors?.['OrderNumber']" class="field-validation">
      {{error}}
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nömrə</mat-label>
    <input matInput type="number" [(ngModel)]="student.orderNumber" min="1" (keydown)="preventInvalidKeys($event)"
  (wheel)="disableScroll($event)"
  (paste)="preventPasteNegative($event)"/>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">İmtina</button>
  <button mat-flat-button color="primary" (click)="save()">Yadda saxla</button>
</div>
