<div class="table-container">
  <div class="toolbar">
    <button class="add-exam" (click)="createExam()">Əlavə et</button>
  </div>

  <dx-data-grid
  [dataSource]="exams"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="false">
    <dxo-paging [pageSize]="5"></dxo-paging>  
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

    <dxi-column dataField="lessonCode" caption="Dərsin kodu"></dxi-column>
    <dxi-column dataField="orderNumber" caption="Sinif nömrəsi"></dxi-column>
    <dxi-column dataField="ExamDate" caption="İmtahan tarixi"></dxi-column>
    <dxi-column dataField="ExamScore" caption="Şagirdin qiyməti"></dxi-column>
      
    <dxi-column type="buttons" caption="Əməliyyatlar">
      <dxi-button
      icon="edit"
      hint="Redaktə et"
      [onClick]="handleEditExamButtonClick">

      </dxi-button>

      <dxi-button
      icon="trash"
      hint="Sil"
      [onClick]="handleDeleteExamButtonClick"></dxi-button>


    </dxi-column>
  
  
  
  </dx-data-grid>



</div>