
<h2 mat-dialog-title>
  {{ exam.id ? 'İmtahanı redaktə et' : 'Yeni imtahan əlavə et' }}
</h2>

<mat-dialog-content>


  <mat-form-field appearance="outline" class="full-width" floatLabel="always">
    <mat-label>Tarix</mat-label>
    <input
      matInput
      type="date"
      [(ngModel)]="exam.examDate"
      name="examDate"
      [min]="'1900-01-01'"
      [max]="'2099-12-31'" />
  </mat-form-field>
  <div class="field-error" *ngIf="exam.validationErrors?.['ExamDate']">
    <div *ngFor="let err of exam.validationErrors['ExamDate']">
      {{ err }}
    </div>
  </div>

  <mat-form-field appearance="outline" class="full-width" floatLabel="always">
    <mat-label>Bal</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="exam.examScore"
      name="examScore"
      min="0"
      max="700"
      (keydown)="preventInvalidKeys($event)"
      (input)="validateScore($event)" />
  </mat-form-field>
  <div class="field-error" *ngIf="exam.validationErrors?.['ExamScore']">
    <div *ngFor="let err of exam.validationErrors['ExamScore']">
      {{ err }}
    </div>
  </div>


  <div class="full-width">
    <dx-select-box
      [items]="students"
      displayExpr="OrderNumber"
      valueExpr="OrderNumber"
      [(value)]="exam.studentNumber"
      placeholder="Şagird nömrəsi seçin"
      [searchEnabled]="true">
    </dx-select-box>
    <div class="field-error" *ngIf="exam.validationErrors?.['StudentNumber']">
      {{ exam.validationErrors['StudentNumber'][0] }}
    </div>
  </div>


  <div class="full-width">
    <dx-select-box
      [items]="lessons"
      displayExpr="Code"
      valueExpr="Code"
      [(value)]="exam.lessonCode"
      placeholder="Dərs kodu seçin"
      [searchEnabled]="true">
    </dx-select-box>
    <div class="field-error" *ngIf="exam.validationErrors?.['LessonCode']">
      {{ exam.validationErrors['LessonCode'][0] }}
    </div>
  </div>


  <div *ngIf="exam.validationErrors?.['General']" class="field-error">
    {{ exam.validationErrors['General'][0] }}
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">İmtina</button>
  <button mat-flat-button color="primary" (click)="save()">Yadda saxla</button>
</mat-dialog-actions>
