:host {
  display: block;
  padding: 24px;
  background-color: #ffffff;
  color: #212121;
  border-radius: 12px;
  max-height: 90vh;
  width: 100%;
  max-width: 600px;
  min-width: 450px;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: 'Segoe UI', sans-serif;
}


::ng-deep .mat-mdc-dialog-surface {
  background: #ffffff !important;
  color: #212121 !important;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


::ng-deep h2[mat-dialog-title] {
  display: block;
  font-size: 20px;
  font-weight: 700 !important;
  margin: 0 0 16px 0 !important; 
  padding: 0 !important;
  color: #212121 !important;
}

::ng-deep .mat-mdc-dialog-content {
  padding: 0 !important;
  margin: 0 !important;
  color: #212121 !important;
}

::ng-deep .mat-mdc-dialog-container {
  padding-top: 0 !important; 
}


.full-width {
  width: 100%;
  margin-bottom: 16px;
}

::ng-deep .mat-mdc-input-element {
  color: #212121 !important;
  font-size: 16px;
}

::ng-deep input[type="date"] {
  font-size: 16px;
  color: #212121 !important;
}


.field-error {
  color: #e53935;              
  font-size: 13px;
  font-weight: 500;
  margin: 4px 0 4px 0;
}


[mat-dialog-actions] {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

::ng-deep .mat-button,
::ng-deep .mat-flat-button {
  border-radius: 9999px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
}


::ng-deep .mat-button {
  color: #e91e63 !important;
}

::ng-deep .mat-flat-button.mat-primary {
  background-color: #ffb6e6 !important;
  color: #4a0072 !important;
}

::ng-deep .mat-flat-button.mat-primary:hover {
  background-color: #f48fb1 !important;
}


::ng-deep .dx-selectbox {
  height: 56px !important;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #fff;
}

::ng-deep .dx-texteditor.dx-editor-outlined {
  padding: 0 !important;
  border: 1px solid #c4c4c4 !important;
  border-radius: 6px;
  background-color: #ffffff;
}

::ng-deep .dx-texteditor-input {
  height: 56px !important;
  line-height: 56px !important;
  font-size: 16px !important;
  color: #212121 !important;
  padding: 0 12px !important;
  box-sizing: border-box;
}

::ng-deep .dx-placeholder {
  top: 50% !important;
  transform: translateY(-50%) !important;
  left: 12px !important;
  font-size: 15px !important;
  color: #888 !important;
  opacity: 1 !important;
}

::ng-deep .dx-list-item-content {
  font-size: 15px !important;
  color: #212121 !important;
  padding: 10px 16px !important;
}

::ng-deep .dx-dropdowneditor-button {
  top: 14px !important;
  right: 8px !important;
}

::ng-deep .mat-mdc-floating-label {
  font-size: 15px !important;
  color: #666 !important;
  font-weight: 500;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
  padding: 10px 0px !important;
}

input.ng-invalid {
  border: 1px solid #e53935 !important;
  box-shadow: 0 0 0 1px #e53935 !important;
}
